[submodule "gruppe_01"]
	path = gruppe_01
	url = https://github.com/wahlelis/Semesterproject_FS23_CMA.git
[submodule "gruppe_03"]
	path = gruppe_03
	url = https://github.com/yeluH/FS23_880Project_G3.git
[submodule "gruppe_04"]
	path = gruppe_04
	url = https://github.com/samuelgogniat/semester-project-group4
[submodule "gruppe_05"]
	path = gruppe_05
	url = https://github.com/pablo-oelbi/pted_semester-project.git
[submodule "gruppe_06"]
	path = gruppe_06
	url = https://github.com/stefanhaering/patterns-trends.git
[submodule "gruppe_07"]
	path = gruppe_07
	url = https://github.com/MKesslerR/finalproject.git
[submodule "gruppe_09"]
	path = gruppe_09
	url = https://github.com/aiysigner/cma-semesterproject.git
[submodule "gruppe_11"]
	path = gruppe_11
	url = https://github.com/thomasrempfler/cma-semesterproject
[submodule "gruppe_12"]
	path = gruppe_12
	url = https://github.com/JereHu/cma_project.git
[submodule "gruppe_14"]
	path = gruppe_14
	url = https://github.com/CyrilGeistlich/cma-project.git
